* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
   /* body style starts here */

body {
    font-family: 'Azeret Mono', sans-serif;
}
   .header-container{
    background-color: white;
    padding: 40px 150px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-btn{
    background-color: white;
    border: 1px solid #0D1321;
    padding: 17px 24px;
    border-radius: 8px;
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.logo{
    font-weight: 800;
    font-size: 28px;

}
   /* body style ends here */

  /* Banner section style starts here */

#banner{
    width: 100%;
    height: 652px;
    background-image: url('../images/Hero-bg.png');
}

.media, .banner-content, .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.banner-content p{
    text-align: center;
    width: 852px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0D1321;
    padding-bottom: 32px;
}

.banner-content h1 {

     text-align: center;
    width: 998px;
    font-weight: 800;
    font-size: 48px;
    color: #0D1321;
    padding-top: 32px;
    padding-bottom: 24px;
}
.btn{
    background-color: #0D1321;
    border: 1px solid #0D1321;
    padding: 24px 21px;
    width: 244px;
    max-height: 65px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    
}
.banner-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
  /* Banner section style ends here */
  

.layer-container{
    width: 1140px;
    padding: 80px 97px;
    border-radius: 16px;
    background-color: #0d132105;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 48px;
}

#dev-reason{
    width: 100%;
    margin: 100px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.section-heading-content{
    width: 852px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 24px;
    
}
.section-title{
    font-weight: 800;
    font-size: 32px;
    color: #0D1321;

}

.section-discription{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color:#0D1321;

}
.section-layer-wrapper {
    max-width: 946px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
}
.section-layer-1, .section-layer-3{
    width: 100%;
    padding: 48px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}
.layer-box-one {
    max-width: 477px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 32px;
}
.layer-text-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 16px;
}
.layer-media{
    width: 274.17px;
    height: 240px;
    background-color: #FFFFFF;
}
.layer-btn {
    background-color: white;
    border: 1px solid #0D1321;
    padding: 12px 20px;
    font-family: 'Azeret Mono', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.section-layer-2{
    width: 100%;
    padding: 48px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    column-gap: 32px;
}





